/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FIX WHITE BACKGROUND ISSUE */
html, body {
    width: 100%;
    height: 100%;
    background: black;
    overflow: hidden;
    font-family: monospace;
}

/* MATRIX BACKGROUND */
canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

/* FILE BOX */
.files-box {
    position: relative;
    z-index: 2;
    width: 90%;
    max-width: 420px;
    margin: 120px auto;
    padding: 25px;
    background: rgba(0, 0, 0, 0.85);
    border: 2px solid #00ffcc;
    box-shadow: 0 0 25px #00ffcc;
    color: #00ffcc;
    text-align: center;
}

/* TITLE */
.files-box h2 {
    margin-bottom: 20px;
    letter-spacing: 2px;
}

/* FILE ITEM */
.file-item {
    padding: 10px;
    border-bottom: 1px solid #00ffcc;
}

/* LINKS */
.file-item a {
    color: #00ffcc;
    text-decoration: none;
    margin: 0 8px;
}

.file-item a:hover {
    text-shadow: 0 0 5px #00ffcc;
}
