<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="dashboard">
    <h1>File Explorer</h1>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Upload</button>
    </form>

    <hr>

    <ul>
        {% for file in files %}
            <li>{{ file }} -
                <a href="/download/{{ file }}">Download</a>
            </li>
        {% endfor %}
    </ul>

    <br>
    <a href="/logout">Logout</a>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
