<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

<h2>File Explorer</h2>

<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="files" multiple webkitdirectory>
    <button type="submit">Upload</button>
</form>

<hr>

<ul>
    {% for file in files %}
        <li>
            {{ file }}
            <a href="/download/{{ file }}">Download</a>
        </li>
    {% endfor %}
</ul>

<br>
<a href="/logout">Logout</a>

</body>
</html>
