<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MANOJ :: SECURE ACCESS</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="login-body">

<div class="scan-box">
    <h1>MANOJ SYSTEM</h1>
    <p class="scan-text">SCANNING IDENTITY...</p>

    <input type="password" id="pin" placeholder="ENTER ACCESS PIN">
    <button onclick="login()">ACCESS</button>

    <div class="scan-line"></div>
</div>

<script src="/static/script.js"></script>
</body>
</html>
